/* Header styles */

.bgimage {
  height:100vh;
  background: url('../images/laptop.jpg');
  background-size:cover;
  position:relative;
}

/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
  font-family: $header-font-family;
  font-weight: bold;
}
.hero_desc {
  font-size: 2rem;
  font-family: $header-font-family;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $header-text-color;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.btn-success {
  background-color: rgb(74, 222, 128);
  color: black;
}