/* Navbar styles */

.navbar-brand {
  color: rgb(201, 187, 187);
}

.navbar-nav .nav-item .nav-link {
  color:rgb(201, 187, 187);
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color: black;
}