/* Navbar styles */

.navbar-brand {
  color: $navbar-text-color;
  font-size: 1.4rem;
}

.navbar-brand:hover {
  color: $hover-text-navigation;
}

.navbar-nav .nav-item .nav-link {
  color: $navbar-text-color;
  font-size: 1.2rem;
  font-style: bold;
}

.navbar-nav .nav-item .nav-link:hover {
  color: $hover-text-navigation;
}

.navbar {
  background-color: $navbar-dark-background;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: $header-text-color;
}


