//Site style variables

 $navbar-text-color: rgb(255, 255, 255);
 $navbar-dark-background: rgba(0, 0, 0, 0.6);
 $header-text-color: white;
 $services-hover-text: #008000;
 $header-font-family: 'Inter', sans-serif;
 $hover-text-navigation: lightblue;
 